<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Solov'ev Project</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/" class="current">Главная страница</a></li>
        <li><a href="/demand">Востребованность</a></li>
        <li><a href="/geography">География</a></li>
    </ul>
</nav>
<header>
    <img src="{% static 'img/logo.png' %}" class="logo">
    <h1 class="title">Профессия Аналитик</h1>
</header>
<main>
    <p>Работа бизнес-аналитика высоко оплачивается, имеет массу перспектив и востребована на рынке труда. Специалисты в этой области помогают устранять проблемы на предприятиях, повышают их репутацию и делают конкурентоспособными на рынке.</p>
    <h2 class="subtitle">Чем занимается бизнес-аналитик?</h2>
    <p>
        Бизнес-аналитик занимается внутренней структурой компании, определяя проблемы и предлагая возможные пути их решения. Большую часть рабочего времени он проводит за изучением используемой модели ведения бизнеса, находит недочеты и вносит коррективы.
        Цель бизнес-аналитика – наладить бизнес-процесс, упорядочить штатную работу, сократить расходы и увеличить прибыль предприятия.
        В IIBA бизнес-аналитика называют агентом перемен, поскольку он не занимается изменениями и коррективами самостоятельно, а направляет работу команды в нужное русло. Такого специалиста можно назвать мостом или связующим звеном между разработчиками и клиентом.
    </p>
    <p>Обязанности аналитика тесно связаны с направлением работы компании. Выделим его основные задачи, не зависящие от сферы деятельности:</p>
    <ul>
        <li>Сбор и грамотное донесение информации, описание и моделирование деловых процессов.</li>
        <li>Анализ эффективности и разработка предложений по оптимизации рабочих процессов.</li>
        <li>Оценочная деятельность по модели ведения бизнеса, внесение корректив в повестку дня.</li>
        <li>Анализ деятельности конкурентов, полевые исследования с целью сравнения бизнес-моделей и рентабельности предприятий.</li>
        <li>Участие в проекте на начальном этапе и при разработке/установке ПО.</li>
    </ul>
    <h2 class="subtitle">Участие в проекте на начальном этапе и при разработке/установке ПО.</h2>
    <p>Бизнес-аналитик должен уметь по полочкам разложить стратегию ведения бизнеса предприятия, систематически подходить к решению поставленных задач, работать с большим количеством данных и грамотно выражать свои мысли.</p>
    <h3>Личные качества, на которые обращают внимание работодатели:</h3>
    <ul>
        <li>аналитический склад ума;</li>
        <li>открытость в общении;</li>
        <li>внимание к деталям;</li>
        <li>внимание к деталям;</li>
        <li>внимание к деталям;</li>
    </ul>
    <h3>Профессиональные качества:</h3>
    <ul>
        <li>четкое и точное определение стратегии бизнеса;</li>
        <li>владение рядом компьютерных программ (язык программирования UML обязателен);</li>
        <li>системный подход к решению задач;</li>
        <li>работа с большими объемами информации;</li>
        <li>умение вести деловые переговоры.</li>
    </ul>
    <p>У кандидата на должность должен быть диплом о законченном высшем образовании по специальности, знание систем CRM, опыт работы с ТЗ и регламентами.</p>
    <p>Кроме перечисленных качеств, важны и знания в узком профилировании:</p>
    <ul>
        <li>Работа в ARIS, Rational Rose, BPWin и прочих программных продуктах на уровне уверенного.</li>
        <li>Основы программирования, проектирования и документирования ПО;</li>
        <li>Знание алгоритмов, известных баз данных и системного анализа;</li>
        <li>Владение информацией об управлении, экономике и бухучете.</li>
    </ul>
    <h2 class="subtitle">Будущее профессии</h2>
    <p>Бизнес-аналитики нацелены на карьерный рост. Спустя полгода или год работы на грейде джуна можно получить должность на полноценной ставке. Это вертикальное развитие по уровням, но есть и горизонтальное. Это углубленное изучение специализации и постоянное повышение квалификации в отдельной области.</p>
    <p>В ближайшие годы конкуренции профессии бизнес-аналитика не будет, поэтому перспективы у нее прекрасные. Сделать карьеру при наличии необходимых навыков и качеств труда не составит. Поскольку технологии каждый день развиваются, бизнесу необходимы грамотные специалисты и спада на рынке труда не ожидается.</p>
</main>
<footer>
    <p>Соловьев Иван Владимирович</p>
    <p>РИ-210941</p>
</footer>
</body>
</html>